<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <div style="width: 600px; margin: auto" class="bg-dark shadow-lg rounded p-3 mt-3">
        <form th:action="@{/wishlist/{wishlistId}/wish/{wishId}/edit(wishlistId=${wishToEdit.wishlistId}, wishId=${wishId})}"
              method="post" th:object="${wishToEdit}">

            <div class="form-group">
                <label class="form-label" for="wishName">Name:</label>
                <input class="form-control input-dark my-border" id="wishName" type="text" th:field="*{name}">
            </div>

            <div class="form-group">
                <label class="form-label" for="wishPicture">Picture:</label>
                <input class="form-control input-dark my-border" id="wishPicture" type="text" th:field="*{picture}">
            </div>

            <div class="form-group">
                <label class="form-label" for="wishDescription">Description:</label>
                <input class="form-control input-dark my-border" id="wishDescription" type="text"
                       th:field="*{description}">
            </div>

            <div class="form-group">
                <label class="form-label" for="wishPrice">Price:</label>
                <input class="form-control input-dark my-border" id="wishPrice" type="number" th:field="*{price}">
            </div>

            <div class="form-group">
                <label class="form-label" for="wishLink">Link:</label>
                <input class="form-control input-dark my-border" id="wishLink" type="text" th:field="*{link}">
            </div>

            <div class="form-group mt-2">
                <div class="d-flex">
                    <div class="mx-auto">
                        <button class="btn btn-warning fw-bold" type="submit">edit</button>
                    </div>
                    <div class="">
                        <a class="btn btn-danger fw-bold"
                           th:href="@{/wishlist/{wishlistId} (wishlistId=${wishToEdit.wishlistId})}">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>