<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <div style="width: 600px; margin: auto" class="bg-dark shadow-lg rounded p-3 mt-5 text-center">


        <form th:action="@{/user/editPassword}" method="post" th:object="${userPasswords}">
            <div class="form-group">
                <label class="form-label" for="oldPassword">Insert Old Password:</label>
                <input class="form-control input-dark" id="oldPassword" type="password" th:name="oldPassword">
            </div>
            <div class="form-group">
                <label class="form-label" for="newPassword">Insert New Password:</label>
                <input class="form-control input-dark" id="newPassword" type="password" th:name="newPassword">
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-warning fw-bold" type="submit">Change</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>