<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<p>Text</p>
<div>
    <form th:action="@{/user/editPassword}" method="post">
        <label for="oldPassword">Old Password:</label>
        <input id="oldPassword" type="password" th:field="*{user.password()}">
        <label for="newPassword">New Password:</label>
        <input id="newPassword" type="password" th:field="*{userEdited.password()}">
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>