<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<div>
    <form th:action="@{/user/editPassword}" method="post" th:object="${userPasswords}">

        <label for="oldPassword">Insert Old Password:</label>
        <input id="oldPassword" type="password" th:name="oldPassword">

        <label for="newPassword">Insert New Password:</label>
        <input id="newPassword" type="password" th:name="newPassword">

        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>