<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <form th:action="@{/user/login}" method="post">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <input type="text" id="username" name="username" class="form-control"
               placeholder="Username" autofocus="autofocus">


        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <input type="password" id="password" name="password" class="form-control"
               placeholder="Password">

        <button type="submit">Log in</button>
    </form>
</div>
<a href="/user/register">Register User</a>
</body>
</html>