<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Account Settings</title>
</head>
<body>
<div class="container">
<header th:replace="~{fragments/header :: header}"></header>
<h1 th:text="${user} + ' | Settings'"></h1>

<a th:href="@{/wishlist}">
    <button type="submit">View Wishlist</button>
</a>

<br><br>

<a th:href="@{/user/editPassword}">
    <button type="submit">Change Password</button>
</a>

<br><br>

<form th:action="@{/user/logout}" method="post">
    <button type="submit">Log Out</button>
</form>
</body>
</html>