<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #121212;">
<div class="container">
    <header th:fragment="header" class="d-flex rounded justify-content-center bg-dark py-3 mt-2">

        <nav class="my-margin">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link my-active bold" aria-current="page">Home</a>
                </li>
                <li class="nav-item"><a href="/wishlist" class="nav-link">Wishlist</a></li>
                <li class="nav-item"><a href="/user/settings" class="nav-link">Settings</a></li>
            </ul>
        </nav>


        <div class="my-margin" style="">
            <a href="/user/login" class="btn btn-outline-light me-2">Login</a>
            <a href="/user/register" class="btn btn-warning">Sign-up</a>
        </div>
    </header>
</div>
</body>
</html>