<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #121212;">
<div class="container">
    <header th:fragment="header" class="rounded bg-dark py-3 mt-2 mb-4">
        <div class="d-flex justify-content-between">
            <div style="width: 200px;" class="d-flex">

            </div>
            <div class="d-flex">
                <nav>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/" class="nav-link nav-link-color"
                                                th:classappend="${activeLink == 'home' ? 'my-active':''}">Home</a>
                        </li>
                        <li class="nav-item"><a href="/wishlist" class="nav-link nav-link-color"
                                                th:classappend="${activeLink == 'wishlist' ? 'my-active':''}">Wishlist</a></li>
                        <li class="nav-item"><a href="/user/settings" class="nav-link nav-link-color"
                                                th:classappend="${activeLink == 'settings' ? 'my-active':''}">Settings</a></li>
                    </ul>
                </nav>
            </div>


            <div style="width: 200px;" class="d-flex me-4" sec:authorize="isAnonymous()">
                <a href="/user/login" class="btn btn-outline-light me-2">Login</a>
                <a href="/user/register" class="btn btn-warning">Sign-up</a>
            </div>

            <div style="width: 200px;" class="d-flex me-4" sec:authorize="isAuthenticated()">
                <form class="d-inline" th:action="@{/user/settings}" method="get">
                    <button sec:authentication="principal.username" style="max-width: 130px;" class="btn btn-dark darker fw-bold overflow-hidden me-2"></button>
                </form>
                <form class="d-inline" th:action="@{/user/logout}" method="post">
                    <button type="submit" class="btn btn-danger fw-bold">Logout</button>
                </form>
            </div>
        </div>
    </header>
</div>
</body>
</html>