body {
    background-color: #0f0f0f !important;
    color: #fff !important;
}

.white-text {
    color: #fff !important;
}

.bold {
    font-weight: bold !important;
}

.darker {
    background-color: #1F1F1F !important;
}


.my-active {
    background-color: darkslategrey !important;
    color: white !important;
}

.my-margin {
    margin-left: 250px !important;
}

.input-dark {
    background-color: #1F1F1F !important;
    color: white !important;
}

.my-border {
    border: 1px solid #4D5154 !important;
}

.nav-link-color {
    color: white !important;
}

/* bootstrap table overrides START */
/*.search > input {*/
/*    background-color: #212529;*/
/*    color: #999999;*/
/*    border: 1px solid #4D5154;*/
/*    float: left !important;*/
/*}*/

/*.search > input:focus {*/
/*    background-color: #212529 !important;*/
/*    !*color: #999999 !important;*!*/
/*    color: white !important;*/
/*}*/

#tableSearch::placeholder {
  color: #999999 !important;
  opacity: 1 !important; /* Firefox */
}

input::placeholder {
  color: #999999 !important;
  opacity: 1 !important; /* Firefox */
}

/*.search > input::-ms-input-placeholder,*/
/*input::-ms-input-placeholder.form-control{ !* Edge 12 -18 *!*/
/*  color: #999999 !important;*/
/*}*/

.my-border {
    border: 1px solid #4D5154 !important;
}
