<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="bg-dark shadow-lg rounded p-3 mt-3">
        <form th:action="@{/wishlist/create}" method="post" th:object="${wishlist}">
            <div class="form-group">
                <label class="form-label" for="title">Title: </label>
                <input class="form-control input-dark my-border" id="title" type="text" th:name="wishlistName"
                       required th:placeholder="${'test'}">
            </div>
            <div class="form-group">
                <label class="form-label" for="pictureLink">Picture link: </label>
                <input class="form-control input-dark my-border" id="pictureLink" type="text" th:name="pictureLink"
                       required>
            </div>
            <div class="form-group mt-2 text-center">
                <button class="btn btn-dark darker" type="submit">Create</button>
                <a th:href="@{/wishlist}" class="btn bg-danger white-text" >Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>