<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<form th:action="@{/wishlist/create}" method="post" th:object="${wishlist}">

    <label for="title">Title: </label>
    <input id="title" type="text" th:field="*{wishlistName}" required>

    <label for="pictureLink">Picture link: </label>
    <input id="pictureLink" type="text" th:field="*{pictureLink}" required>

    <button type="submit">Create</button>
</form>

<a th:href="@{/wishlist}"><button>Cancel</button></a>

</body>
</html>