<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>

    <div style="width: 800px; margin: auto" class="bg-dark shadow-lg rounded p-3 mt-3">


        <form th:action="@{/wishlist/{wishlistId}/edit(wishlistId=${wishlistId})}" method="post"
              th:object="${wishlistToEdit}">

            <p>
                <label for="wishlistName">Name:</label>
                <input id="wishlistName" type="text" th:field="*{name}">
            </p>

            <p>
                <label for="wishlistPicture">Picture:</label>
                <input id="wishlistPicture" type="text" th:field="*{picture}">
            </p>

            <button type="submit">edit</button>
            <a th:href="@{/wishlist/{wishlistId} (wishlistId=${wishlistToEdit.wishlistId})}">
                <button type="button">cancel</button>
            </a>
        </form>
    </div>
</div>
</body>
</html>