<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{fragments/head :: headerFiles}"></th:block>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <header th:replace="~{fragments/header :: header}"></header>
    <div class="bg-dark shadow-lg rounded p-3 mt-5">
        <table class="table table-dark"
               data-toggle="table"
               data-search="true"
               data-search-selector="#tableSearch">
            <thead>
            <tr class="">
                <th data-sortable="true" scope="col">Wishlist</th>
                <th scope="col">Picture</th>
                <th scope="col"><input type="search" id="tableSearch" class="form-control input-dark my-border"
                                       placeholder="Search.."></th>
                <!--                <th scope="col"></th>-->
            </tr>
            </thead>

            <tbody>
            <tr th:each="wishlist : ${wishlists}">

                <td class="align-middle" th:text="${wishlist.name}"></td>
                <td class="align-middle" th:text="${wishlist.picture}"></td>
                <!--                <td class=align-middle th:text="${wishlist.wishlistId}"></td>-->
                <td class="align-middle">
                    <a class="btn btn-dark darker"
                       th:href="@{/wishlist/{wishlistId} (wishlistId=${wishlist.wishlistId})}">
                        View
                    </a>
<!--                    th:href="@{/wishlist/{wishlistId}/edit (wishlistId=${wishlist.wishlistId})}"-->
                    <a th:href="@{/wishlist/{wishlistId}/edit (wishlistId=${wishlist.wishlistId})}" class="btn btn-warning white" href="#" >
                        Edit
                    </a>
                    <a class="btn btn-danger white"
                       th:href="@{/wishlist/{wishlistId}/delete (wishlistId=${wishlist.wishlistId})}">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-2">
        <a class="btn btn-lg fw-bold btn-success" href="wishlist/create">
            Create Wishlist
        </a>
    </div>
</div>
</body>
</html>