<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<a style="float: right" href="/user/settings">
    <button type="button">Account</button>
</a>

<table>
    <thead>
    <tr>
        <th>Wishlist</th>
        <th>Picture</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="wishlist : ${wishlists}">
        <td th:text="${wishlist.name}"></td>
        <td th:text="${wishlist.picture}"></td>
        <td th:text="${wishlist.wishlistId}"></td>
        <td> <a th:href="@{/wishlist/{wishlistId} (wishlistId=${wishlist.wishlistId})}"> <button>view</button> </a> </td>
        <td> <a th:href="@{/wishlist/{wishlistId}/edit (wishlistId=${wishlist.wishlistId})}"><button>edit</button></a></td>
        <td> <a th:href="@{/wishlist/{wishlistId}/delete (wishlistId=${wishlist.wishlistId})}"> <button>delete</button> </a> </td>
    </tr>
    </tbody>
</table>

<a href="wishlist/create">
    <button type="button">Create new wishlist</button>
</a>

</body>
</html>